.restaurantListItem__container {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
}

.restaurantListItem__name {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.restaurantListItem__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.restaurantListItem__link {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.restaurantListItem__link:hover {
  background: rgba(0, 0, 0, 0.01);
}

@media (min-width: 678px) {
  .restaurantListItem__row {
    min-width: 40%;
    justify-content: space-between;
  }
}

@media (min-width: 1160px) {
  .restaurantListItem__row {
    min-width: 33.3%;
  }
}


.restaurantListItem__details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: right;
  color: #9B9B9B;
}

@media (min-width: 678px) {
  .restaurantListItem__details {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
}

.restaurantListItem__detail {
  line-height: normal;
}

.restaurantListItem__arrow {
  padding-left: 1rem;
}