@font-face {
  font-family: 'Proxima Nova Soft Regular';
  src: url('/fonts/proxima-nova-soft/ttf/Mark Simonson - Proxima Nova Soft Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Proxima Nova Soft Medium';
  src: url('/fonts/proxima-nova-soft/ttf/Mark Simonson - Proxima Nova Soft Medium.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Proxima Nova Soft Bold';
  src: url('/fonts/proxima-nova-soft/ttf/Mark Simonson - Proxima Nova Soft Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Proxima Nova Soft Semibold';
  src: url('/fonts/proxima-nova-soft/ttf/Mark Simonson - Proxima Nova Soft Semibold.ttf');
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div {
  box-sizing: border-box;
}


/**
 * Global styles.
 */
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  height: 100%;
  width: 100%;
}

.unstyledList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hideBelowMDInline {
  display: none;
}

@media (min-width: 678px) {
  .hideBelowMDInline {
    display: inline;
  }
}
