.neighbourhood__hero-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  min-height: 300px;
  padding: 1rem;
  color: white;
}

.neighbourhood__hero-details { 
  position: relative;
  text-align: center;
  z-index: 1000;
}

@media (min-width: 678px) {
  .neighbourhood__hero-details { 
    /* Half height of header so details appear in middle of hero image */
    margin-top: 2.5rem;
  }
}

.neighbourhood__num-of-restaurants {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  opacity: 0.6;
}

.neighbourhood_hero-name {
  font-family: 'Proxima Nova Medium', sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 5px;
}

.neighbourhood_hero-description {
  font-size: 13px;
  line-height: 18px;
  font-family: 'Proxima Nova', sans-serif;
}

@media (min-width: 678px) {
  .neighbourhood_hero-description {
    max-width: 75%;
    margin: 0 auto;
    line-height: 24px;
  }
}

@media (min-width: 1160px) {
  .neighbourhood_hero-description {
    max-width: 50%;
    margin: 0 auto;
  }
}