.neighbourhood__hero-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  padding: 1rem;
  color: white;
}

.neighbourhood__hero-details { 
  position: relative;
  text-align: center;
  z-index: 1000;
  font-family: 'Proxima Nova Soft Medium';
}

.neighbourhood_hero-name {  
  text-transform: uppercase;
}


@media (min-width: 678px) {
  .neighbourhood_hero-description {
    max-width: 75%;
    margin: 0 auto;
  }
}

@media (min-width: 1160px) {
  .neighbourhood_hero-description {
    max-width: 50%;
    margin: 0 auto;
  }
}