.neighbourhood__hero-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  padding: 1rem;
  color: white;
}

.neighbourhood__hero-details { 
  position: relative;
  text-align: center;
  z-index: 1000;
}
